<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>

<body>

    <h2>INPUT</h2>
    <form action="/process" method="POST">

        <p>
            Input one: <input type ="text" name="input1">
        </p>
        <p>
            Input two: <input type ="text" name="input2">
        </p>
        <p>
            <input type="submit" value="process">
        </p>

    </form>

</body>

</html>